- margin = ''
- notice_str = @notice.to_s + flash[:notice].to_s
- alert_str = @alert.to_s + flash[:alert].to_s
- if defined?(classes)
    - margin = classes
- unless notice_str.blank?
    = render 'alert', type: 'success', raw: notice_str, margin: margin
- unless alert_str.blank?
    = render 'alert', type: 'danger', raw: alert_str, margin: margin
